<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark stylish-color-dark" [containerInside]="false">

    <!-- Navbar brand -->
    <mdb-navbar-brand ><h2 class="navbar-brand stylish-color-light">Welcome!</h2></mdb-navbar-brand>
  
    <!-- Collapsible content -->
    <links>
  
      <!-- Links -->
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" routerLink="/" routerLinkActive="active">
          <a class="nav-link waves-light"  mdbWavesEffect>Home<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item"  routerLink="/about-me" routerLinkActive="current">
          <a class="nav-link waves-light" mdbWavesEffect>About Me</a>
        </li>
        <li class="nav-item" routerLink="/cv" routerLinkActive="current">
          <a class="nav-link waves-light"  mdbWavesEffect>CV</a>
        </li>
  
        
      
  
      </ul>
      <!-- Links -->
  
      <ul class="navbar-nav ml-auto nav-flex-icons">
        <li class="nav-item">
          <a href="https://www.linkedin.com/in/daniel-ornelas-20/" class="nav-link">
            <mdb-icon  fab icon = "linkedin"></mdb-icon>
          </a>
        </li>
        <li class="nav-item">
          <a href="https://github.com/dornelas4" class="nav-link">
            <mdb-icon fab icon="github"></mdb-icon>
          </a>
        </li>
       
      </ul>
    </links>
    <!-- Collapsible content -->
  
  </mdb-navbar>
  <!--/.Navbar-->