

<div class="container">
  <mdb-card cascade="true" wider="true" reverse="true" class="my-4">
    <!--Card image-->
    <div class="view view-cascade overlay waves-light"  mdbWavesEffect>
      <mdb-card-img src="assets/img/venice.jpeg" style="width:fit-content;;"></mdb-card-img>
      <a>
        <div class="mask rgba-white-slight"></div>
      </a>
    </div>
    <!--/Card image-->
  
    <!-- Card content -->
    <mdb-card-body cascade="true" class="text-center">
  
      Daniel Ornelas
      <mdb-card-title>
        <h4>
          <strong>Software Engineer</strong>
        </h4>
      </mdb-card-title>
  
      <h5 class="indigo-text">
        <strong>M.S. in Software Engineering</strong>
      </h5>
  
      <!-- <mdb-card-text>
        Sed ut perspiciatis unde omnis iste natus sit voluptatem accusantium doloremque laudantium, totam rem
        aperiam.
      </mdb-card-text> -->
  
     
    </mdb-card-body>
  
  </mdb-card>
</div>
