
  <div class="row">
    <div class="card text-center" *ngFor="let rsvp of RSVPs" [ngStyle]="{'color': (rsvp.attendance) ? 'green' : 'red'}">  
        <div class="card-header">{{rsvp.name}}</div>
        <div class="card-body">
          <h5 class="card-title"></h5>
          <p class="card-text">
            Invitados: {{rsvp.assistingPeople}}
          </p>
          <p class="card-text">
            Mensaje : {{rsvp.message}}
          </p>
        
        </div>
        <div class="card-footer text-muted">Replace with date</div>
      </div> 
</div>



